In [15]:
import pandas as pd
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import random

In [16]:
dataset = pd.read_csv('wikigraph_reduced.csv', sep='\t', 
                      delimiter=None, header='infer',
                      names=None, index_col=None, 
                      usecols=None, 
                      encoding = "ISO-8859-1")
dataset.head()

   Unnamed: 0    0        1
0         796   95  1185516
1         909  108  1059989
2         910  108  1062426
3         911  108  1161925
4        1141  134   541222

In [17]:
dataset.columns=['Index','Source','Target']

In [18]:
# check if index columns has unique values
print(len(dataset.Index))
print(len(set(dataset.Index)))

483094
483094

In [19]:
dataset.set_index('Index' , inplace = True)
dataset.head()

       Source   Target
Index
796        95  1185516
909       108  1059989
910       108  1062426
911       108  1161925
1141      134   541222

#### Associate single category to each node

In [20]:
# all nodes in and out
unique_nodes = set(set(dataset.Source).union(set(dataset.Target)))
n_nodes = len(nodes)
n_edges = len(dataset)

In [21]:
category_file = 'wiki-topcats-categories.txt'

In [22]:
categories = {v: [] for v in unique_nodes}
lost = []
with open(category_file) as file:
    for i in range(17364):
        line = file.readline()
        category = line.split(';')[0].split(':')[-1]
        nodes = line.split(';')[1].split(' ')[1:-2]
        for node in nodes:
            try:
                categories[int(node)].append(category)
            except:
                lost.append(int(node))

In [23]:
categories_filtered = {}
for n in categories.keys():
    try:
        rand_category = random.choice(categories[n])
        categories_filtered[n] = rand_category
    except:
        categories_filtered[n] = None

#### Create graph

In [24]:
in_links = {v: [] for v in set(dataset.Source)}
out_links = {v: [] for v in set(dataset.Target)}
links = {v: [] for v in nodes}

for row in dataset.iterrows():
    source = row[1][0]
    target = row[1][1]
    in_links[source].append(target)
    out_links[target].append(source)

In [26]:
n_art_outlink = len(out_links)
n_art_inlink = len(in_links)

In [29]:
connections = []
for node in nodes:
    try:
        in_deg = len(in_links[node])
    except:
        in_deg = 0
    try:
        out_deg = len(out_links[node])
    except:
        out_deg = 0
    connections.append(in_deg+out_deg)

#### Check if directed

In [32]:
directed = False
for node in in_links:
    if in_links[node] == out_links[node]:
        directed = True
        break
if directed:
    print('Graph is directed')
else:
    print('Graph is undirected')

Graph is directed

#### Density

In [33]:
density = (n_edges/(n_nodes*(n_nodes-1)))